@font-face {
  font-family: antipasto;
  src: url(../fonts/antipasto/AntipastoPro_trial.ttf) format('truetype');
}

@font-face {
  font-family: antipasto-bold;
  src: url(../fonts/antipasto/AntipastoPro-Bold_trial.ttf) format('truetype');
}

@font-face {
  font-family: antipasto-light;
  src: url(../fonts/antipasto/AntipastoPro-Light_trial.ttf) format('truetype');
}

@font-face {
  font-family: antipasto-lighter;
  src: url(../fonts/antipasto/AntipastoPro-Extralight_trial.ttf) format('truetype');
}

@font-face {
  font-family: antipasto-medium;
  src: url(../fonts/antipasto/AntipastoPro-Medium_trial.ttf) format('truetype');
}
