@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800;1000&display=swap');
/* font-family: 'Nunito', sans-serif; */

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}
body{
  background: #f7f7f7;
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding-top: 60px;
}

.container{
  height: auto;
  max-width: 1300px;
  width: 100%;
  margin: auto;
}

.navbar{
  width: 100%;
  height: 60px;
  display: inline-flex;
  align-items: center;
  padding-inline: 20px;

  background: white;
  box-shadow: 0px 1px 10px #5f5f5f;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.navbar a{
  color: black;
}
.nav{
  display: inline-flex;
  justify-content: space-between;
}

.navbar .cont{
  display:inline-flex;
  width: fit-content;
  gap: 20px;
  align-items: center;
}

.logo{
  font-size: 2rem;
}

.logo span{
  font-weight: 800;
  margin-left: 10px;
}

.search{
  border: 1px solid black;
  background: rgb(218, 215, 215);
  border-radius: 10px;
  padding: 8px 10px;
  display: inline-flex;
  align-items: center;
}

.search > input{
  border: none;
  margin-left: 5px;
  width: 200px;
  background: transparent;
}

.search > input:focus{
  outline: none;
}

.navbar .right a{
  color: black;
  font-size: 1.1rem;
}

.navbar a.button{
  padding: 5px 10px;
  background: black;
  color: #f7f7f7;
  border-radius: 5px 10px;
}

.navbar > .nav > .cont > .ham{
  display: none;
}

/* hamburgor */


.ham{
  height: 30px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  cursor: pointer;

  overflow: hidden;

  transition: 200ms ease-in-out;
}

.ham > span{
  position: absolute;
  height: 6px;
  width: 30px;
  border-radius: 3px;
  background: black;

  transition: 200ms ease-in-out;
}

.ham > span:nth-child(1){
  transform: translateY(-12px);
}

.ham > span:nth-child(3){
  transform: translateY(+12px);
}

.ham.active > span:nth-child(1){
  transform: rotate(45deg);
}

.ham.active > span:nth-child(2){
  transform: translateX(+50px);
}

.ham.active > span:nth-child(3){
  transform: rotate(-45deg);
}


/* hero section */
#hero{
  background: yellow;
}
#hero > .container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  
}
#hero .cont{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
#hero .cont:nth-child(2){
  align-items: center;
}

#hero h1{
  font-size: 3.5rem;
}

#hero p{
  font-size: 1.2rem;
}

#hero a.button{
  padding: 15px 20px;
  width: fit-content;
  background: black;
  color: #f7f7f7;
  border-radius: 5px 10px;
}

#hero .cont img{
  height: 400px;
}

/* resources */

#resources{
  margin-top: 40px;
}

.top{
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.top a{
  color: #474747;

  border: .5px solid black;
  background: #f7f7f7;
  padding: 5px 10px;
  border-radius: 10px;
}

.top1{
  display: none;
  padding: 40px;
  text-align: center;
}

.top1 a{
  color: #474747;

  border: .5px solid black;
  background: #f7f7f7;
  padding: 5px 10px;
  border-radius: 10px;
}

.title{
  font-size: 1.5rem;
  font-weight: 600;
}

.cards{
  width: fit-content;
  height: auto;
  margin: 50px auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
}

/* subscribe */

#subscribe{
  background: yellow;
}

.container.subs{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding:40px;
  gap: 20px;
}

.subs form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subs input{
  border: none;
  width:300px;
  background: #f7f7f7;
  font-size: 1rem;
  padding: 5px 10px;
  border-radius: 5px;
}

.subs button{
  width: fit-content;
  border: none;
  background: black;
  font-size: 1rem;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 5px;
  color: #f7f7f7;
}

.subs h1{
  font-size: 3rem;
}

/* footer */

#footer{
  color: white;
  background: black;
}

#footer > .container{
  width: 100%;
  padding: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.foot{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 20px;
}

.foot .logo{
  color: yellow;
}

.foot > a{
  color: white;
  width: fit-content;
  transition: 200ms ease-in-out;
  
}

.foot > a:hover{
  color: yellow;
}

#footer > .container:nth-child(2){
  width: 100%;
  border-top: 1px solid rgb(124, 124, 124);
  grid-template-columns: 1fr;
  text-align: center;
}


/* responsive */

@media screen and (max-width: 1050px) {

  .navbar{
    padding: 0 10px;
  }
/* 
  .navbar .cont.right{
    display: none;
  } */

  .cont.right{
    position: fixed;
    height: 100vh;
    width: 300px;
    top: 60px;
    right: -300px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    padding-top: 40px;
    z-index: -1;

    transition: 200ms ease-in-out;
  }

  .cont.right.active{
    transform: translateX(-300px);
  }

  .navbar > .nav > .cont:nth-child(1){
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
  }

  .navbar > .nav > .cont > .ham{
    display: flex;
  }

  #hero{
    padding: 0 10px;
  }

  .navbar .search{
    display: none;
  }

  #hero > .container{
    grid-template-columns: 1fr;
    
  }

  #hero .cont:nth-child(2){
    display: none;
  }

  #resources{
    padding: 0 10px;
  }

  .top1{
    display: block;
  }

  .top > a{
    display: none;
  }

  .cards{
    grid-template-columns: 1fr 1fr;
  }

  #footer > .container{
  grid-template-columns:1fr 1fr;
  }
}

@media screen and (max-width: 720px){
  #hero > .container{
    grid-template-columns: 1fr;
  }

  .cards{
    grid-template-columns: 1fr;
  }

  #footer > .container{
  grid-template-columns:1fr;
  }
}